<app-navbar></app-navbar>

<!-- Page top Section -->
<section class="page-top-section" [ngStyle]="{'background-image': 'url(assets/images/page-top-bg.jpg)',
'margin-top': '95px',
'margin-bottom': '20px',
}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 m-auto text-white">
                <h2 style="color: #83539f;">About Us</h2>
                <p style="color: #242547;">FitBloom is dedicated to helping women embrace strength and confidence. We offer tailored workouts, healthy recipes, and a curated shop to support your fitness journey and inspire a healthier, happier you.</p>
            </div>
        </div>
    </div>
</section>
<br>





<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/images/icons/1.jpg" alt="Image" class="img-fluid rounded mb-3" style="margin: 10px;">
          
        </div>
        <div class="col-md-6 ml-auto">
          <h2 style="color: #939ee6;">Welcome To Fitbloom!</h2>
          
          <p class="mb-4">At FitBloom, we believe every woman deserves to feel strong, confident, and radiant. Our mission is to create a space where fitness and self-care bloom together. Whether you’re a beginner or a fitness enthusiast, we’re here to empower you with tailored workout programs, expert tips, and a curated shop designed just for you.</p>

          <p>Join us in building a community where health is more than just a routine—it’s a lifestyle that blossoms into your best self. Let’s bloom together!</p>
          

          
        </div>
      </div>
    </div>
  </div>


  <h2 style="text-align: center; color:#FA8072 ;">What We Offer</h2>
  <br>


<!-- Service Section -->
<section class="service-section spad">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                
                <div class="about-item icon-box">
                    <div class="ai-icon">
                        <img src="assets/images/icons/about-1.png">
                    </div>
                    <div class="ai-text">
                        <h4>Full Rejuvenation</h4>
                        <p>Excepteur sint occaecat cupidatat non proident sunt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="about-item icon-box">
                    <div class="ai-icon">
                        <img src="assets/images/icons/about-2.png" alt="">
                    </div>
                    <div class="ai-text">
                        <h4>Extension of Spring</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="about-item icon-box">
                    <div class="ai-icon">
                        <img src="assets/images/icons/about-3.png" alt="">
                    </div>
                    <div class="ai-text">
                        <h4>Against Aging</h4>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="about-item icon-box">
                    <div class="ai-icon">
                        <img src="assets/images/icons/about-4.png" alt="">
                    </div>
                    <div class="ai-text">
                        <h4>Slim Body</h4>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section end -->









<app-footer></app-footer>

















