<section class="fixed-top navigation">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html"></a>
       

        <div class="collapse navbar-collapse text-center" id="navbar">
          <ul class="navbar-nav ml-auto">
            <a href="" class="navbar-brand p-0">
              <img style="height: 55%; margin-top: 6.5px;" src="././assets/images/fitbloom.png" alt="Logo"> 
         </a>






            <li class="nav-item">
              <a class="nav-link" style="color: #363534; font-weight: bold;" routerLink="/home"  onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" 
              style="color: #363534; font-weight: bold;" 
              routerLink='/about' 
              onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'">About</a>
           
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;" routerLink='/programs' onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'">Programs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;" routerLink='/recepies' onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;" routerLink='/shop' onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;" routerLink='/bmi' onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'">BMI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;" routerLink='/contact'  onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'">Contact</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;"routerLink='/basket' onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'"><i class="ri-shopping-basket-2-fill" style="font-size: 150%;"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;" (click)="logout()" onmouseover="this.style.color='#F72E9D'" 
              onmouseout="this.style.color='#363534'"><i class="ri-logout-box-r-line" style="font-size: 150%;"></i></a>
            </li>
             <!-- <li class="nav-item">
              <a class="nav-link page-scroll" style="color: #363534; font-weight: bold;" routerLink='/form1'>Legal</a>
            </li>  -->
           
          </ul>

         
        </div>
      </nav>
    </div>

   
  </section>